.title {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.app-background {
  background-color: #282828;
  height: 100vh;
}
.mobile-setting .content {
  padding-top: 60px;
}
.mobile-setting .content .van-field__label {
  width: 100px;
  text-align: right;
}
