.mobile-chat-list {
  .content {
    padding-top 46px
    padding-bottom 60px

    .van-list {
      .van-cell__value {
        .chat-list-item {
          display flex
          font-size 14px

          .van-image {
            min-width 32px
            width 32px
            height 32px
          }

          .van-ellipsis {
            margin-top 5px;
            margin-left 10px;
          }
        }
      }
    }
  }


  .van-nav-bar {
    .van-nav-bar__right {
      .van-icon {
        font-size 20px;
      }
    }
  }
}

@import "model-select.styl"