.mobile-chat .message-list-box {
  padding-bottom: 10px;
  overflow-x: auto;
  background: #f5f5f5;
}
.mobile-chat .message-list-box .van-cell {
  background: none;
  font-family: 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
.mobile-chat .chat-box-wrapper .van-sticky .van-cell-group--inset {
  margin: 0;
}
.mobile-chat .chat-box-wrapper .van-sticky .van-cell-group--inset .van-cell {
  padding: 10px;
}
.mobile-chat .chat-box-wrapper .van-sticky .van-cell-group--inset .van-cell .icon-box .van-icon {
  font-size: 24px;
  margin-left: 10px;
}
.mobile-chat .chat-box-wrapper .van-sticky .van-cell-group--inset .van-cell .button-voice {
  padding: 0 2px;
  height: 30px;
}
.mobile-chat .chat-box-wrapper .van-sticky .van-cell-group--inset .van-cell .button-voice .el-icon {
  font-size: 24px;
}
.mobile-chat .van-nav-bar__title .van-dropdown-menu__title {
  margin-right: 10px;
}
.mobile-chat .van-nav-bar__title .van-cell__title {
  text-align: left;
}
.mobile-chat .van-nav-bar__right .van-icon {
  font-size: 20px;
}
.van-overlay .mic-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.van-theme-dark .mobile-chat .message-list-box {
  background: #232425;
}
