.mobile-chat-list .content .van-list .van-cell__value .chat-list-item {
  display: flex;
  font-size: 14px;
}
.mobile-chat-list .content .van-list .van-cell__value .chat-list-item .van-image {
  min-width: 32px;
  width: 32px;
  height: 32px;
}
.mobile-chat-list .content .van-list .van-cell__value .chat-list-item .van-ellipsis {
  margin-top: 5px;
  margin-left: 10px;
}
.mobile-chat-list .van-nav-bar .van-nav-bar__right .van-icon {
  font-size: 20px;
}
.van-popup .picker-option {
  display: flex;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
}
.van-popup .picker-option .van-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
