.page-sd {
  background-color: #282828;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;

    .sd-box {
      background-color #282828
      min-width 92%
      max-width 92%
      padding 0px
      border-radius 0px
      color #ffffff;
      font-size 14px

      h2 {
        font-weight: bold;
        font-size 20px
        text-align center
        color #fff
      }

      // 隐藏滚动条

      ::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: transparent;
      }

      .sd-params {
        margin-top 10px
        overflow auto


        .param-line {
          padding 0 10px

          .el-icon {
            position relative
            top 3px
          }

          .el-input__suffix-inner {
            .el-icon {
              top 0
            }
          }

          .grid-content
          .form-item-inner {
            display flex

            .el-icon {
              margin-left 10px
              margin-top 2px
            }
          }

        }

        .param-line.pt {
          padding-top 5px
          padding-bottom 5px
        }
      }

      .submit-btn {
        padding 10px 15px 0 15px
        text-align center

        .el-button {
          width 100%

          span {
            color #2D3A4B
          }
        }
      }
    }

    .el-form {
      .el-form-item__label {
        color #ffffff
      }
    }

    @import "mobile/task-mobile-list.styl"
  }

  @import "sd-task-mobile-dialog.styl"


  .mj-list-item-prompt {
    .el-icon {
      margin-left 10px
      cursor pointer
      position relative
      top 2px
    }
  }

}

