
.page-sd {
  background-color: #282828;
}
.page-sd .inner {
  display: flex;
}
.page-sd .inner .sd-box {
  margin: 10px;
  background-color: #282828;
  min-width: 92%;
  max-width: 92%;
  padding: 0px;
  border-radius: 0px;
  color: #fff;
  font-size: 14px;
}
.page-sd .inner .sd-box h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.page-sd .inner .sd-box ::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
.page-sd .inner .sd-box .sd-params {
  margin-top: 10px;
  overflow: auto;
}
.page-sd .inner .sd-box .sd-params .param-line {
  padding: 0 10px;
}
.page-sd .inner .sd-box .sd-params .param-line .el-icon {
  position: relative;
  top: 3px;
}
.page-sd .inner .sd-box .sd-params .param-line .el-input__suffix-inner .el-icon {
  top: 0;
}
.page-sd .inner .sd-box .sd-params .param-line .grid-content,
.page-sd .inner .sd-box .sd-params .param-line .form-item-inner {
  display: flex;
}
.page-sd .inner .sd-box .sd-params .param-line .grid-content .el-icon,
.page-sd .inner .sd-box .sd-params .param-line .form-item-inner .el-icon {
  margin-left: 10px;
  margin-top: 2px;
}
.page-sd .inner .sd-box .sd-params .param-line.pt {
  padding-top: 5px;
  padding-bottom: 5px;
}
.page-sd .inner .sd-box .submit-btn {
  padding: 10px 15px 0 15px;
  text-align: center;
}
.page-sd .inner .sd-box .submit-btn .el-button {
  width: 100%;
}
.page-sd .inner .sd-box .submit-btn .el-button span {
  color: #2d3a4b;
}
.page-sd .inner .el-form .el-form-item__label {
  color: #fff;
}
.page-sd .inner .task-list-box {
  width: 100%;
  padding: 10px;
  color: #fff;
  overflow-x: hidden;
}
.page-sd .inner .task-list-box .running-job-list .job-item {
  width: 100%;
  padding: 2px;
  background-color: #555;
}
.page-sd .inner .task-list-box .running-job-list .job-item .job-item-inner {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page-sd .inner .task-list-box .running-job-list .job-item .job-item-inner .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-sd .inner .task-list-box .running-job-list .job-item .job-item-inner .progress span {
  font-size: 20px;
  color: #fff;
}
.page-sd .inner .task-list-box .finish-job-list .job-item {
  width: 100%;
  height: 100%;
  border: 1px solid #666;
  padding: 6px;
  overflow: hidden;
  border-radius: 6px;
  transition: all 0.3s ease; /* 添加过渡效果 */
}
.page-sd .inner .task-list-box .finish-job-list .job-item .opt .opt-line {
  margin: 6px 0;
}
.page-sd .inner .task-list-box .finish-job-list .job-item .opt .opt-line ul {
  display: flex;
  flex-flow: row;
}
.page-sd .inner .task-list-box .finish-job-list .job-item .opt .opt-line ul li {
  margin-right: 6px;
}
.page-sd .inner .task-list-box .finish-job-list .job-item .opt .opt-line ul li a {
  padding: 3px 0;
  width: 40px;
  text-align: center;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  background-color: #4e5058;
  color: #fff;
}
.page-sd .inner .task-list-box .finish-job-list .job-item .opt .opt-line ul li a:hover {
  background-color: #6d6f78;
}
.page-sd .inner .task-list-box .finish-job-list .job-item .opt .opt-line ul .show-prompt {
  font-size: 20px;
  cursor: pointer;
}
.page-sd .inner .task-list-box .finish-job-list .animate:hover {
  box-shadow: 0 0 10px rgba(71,255,241,0.6); /* 添加阴影效果 */
  transform: translateY(-10px); /* 向上移动10像素 */
}
.page-sd .inner .task-list-box .el-image {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.page-sd .inner .task-list-box .el-image img {
  height: 100%;
}
.page-sd .inner .task-list-box .el-image .el-image-viewer__wrapper img {
  width: auto;
  height: auto;
}
.page-sd .inner .task-list-box .el-image .image-slot {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
  color: #fff;
  height: 240px;
}
.page-sd .inner .task-list-box .el-image .image-slot .iconfont {
  font-size: 50px;
  margin-bottom: 10px;
}
.page-sd .inner .task-list-box .el-image.upscale {
  max-height: 100%;
}
.page-sd .inner .task-list-box .el-image.upscale img {
  height: 100%;
}
.page-sd .inner .task-list-box .el-image.upscale .el-image-viewer__wrapper img {
  width: auto;
  height: auto;
}
.page-sd .el-overlay-dialog .el-dialog {
  background-color: #1a1b1e;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__header .el-dialog__title {
  color: #f5f5f5;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body {
  padding: 0 0 0 15px !important;
  display: flex;
  height: 100%;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row {
  width: 100%;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .img-container {
  display: flex;
  justify-content: center;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .img-container .image-slot {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .img-container .image-slot .el-icon {
  font-size: 60px;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info {
  background-color: #25262b;
  padding: 1rem 1.5rem;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line {
  width: 100%;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line .prompt {
  background-color: #35363b;
  padding: 10px;
  color: #999;
  overflow: auto;
  max-height: 100%;
  min-height: 100%;
  position: relative;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line .prompt .el-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line .wrapper {
  margin-top: 10px;
  display: flex;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line .wrapper label {
  display: flex;
  width:100%;
  color: #a5a5a5;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line .wrapper .item-value {
  display: flex;
  width: 100%;
  background-color: #35363b;
  padding: 2px 5px;
  border-radius: 5px;
  color: #f5f5f5;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .copy-params {
  padding: 20px 0 10px 0;
}
.page-sd .el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .copy-params .el-button {
  width: 100%;
}
.page-sd .mj-list-item-prompt .el-icon {
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  top: 2px;
}
