.van-popup {
  .picker-option {
    display flex
    width 100%
    padding 0 10px
    overflow hidden
    height 20px
    text-overflow ellipsis

    .van-image {
      width 20px;
      height 20px;
      margin-right 5px
    }
  }
}