.task-list-box {
  width: 100%;
  padding: 5px;
  color: #fff;
  overflow-x: hidden;
}
.task-list-box .running-job-list .job-item {
  width: 100%;
  padding: 2px;
  background-color: #555;
}
.task-list-box .running-job-list .job-item .job-item-inner {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.task-list-box .running-job-list .job-item .job-item-inner .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-list-box .running-job-list .job-item .job-item-inner .progress span {
  font-size: 20px;
  color: #fff;
}
.task-list-box .finish-job-list .job-item {
  width: 100%;
  height: 100%;
  border: 1px solid #666;
  padding: 6px;
  overflow: hidden;
  border-radius: 6px;
  transition: all 0.3s ease; /* 添加过渡效果 */
}
.task-list-box .finish-job-list .job-item .opt .opt-line {
  margin: 6px 0;
}
.task-list-box .finish-job-list .job-item .opt .opt-line ul {
  display: flex;
  flex-flow: row;
}
.task-list-box .finish-job-list .job-item .opt .opt-line ul li {
  margin-right: 6px;
}
.task-list-box .finish-job-list .job-item .opt .opt-line ul li a {
  padding: 3px 0;
  width: 40px;
  text-align: center;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  background-color: #4e5058;
  color: #fff;
}
.task-list-box .finish-job-list .job-item .opt .opt-line ul li a:hover {
  background-color: #6d6f78;
}
.task-list-box .finish-job-list .job-item .opt .opt-line ul .show-prompt {
  font-size: 20px;
  cursor: pointer;
}
.task-list-box .finish-job-list .animate:hover {
  box-shadow: 0 0 10px rgba(71,255,241,0.6); /* 添加阴影效果 */
  transform: translateY(-10px); /* 向上移动10像素 */
}
.task-list-box .el-image {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.task-list-box .el-image img {
  height: 240px;
}
.task-list-box .el-image .el-image-viewer__wrapper img {
  width: auto;
  height: auto;
}
.task-list-box .el-image .image-slot {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
  color: #fff;
  height: 240px;
}
.task-list-box .el-image .image-slot .iconfont {
  font-size: 50px;
  margin-bottom: 10px;
}
.task-list-box .el-image.upscale {
  max-height: 310px;
}
.task-list-box .el-image.upscale img {
  height: 310px;
}
.task-list-box .el-image.upscale .el-image-viewer__wrapper img {
  width: auto;
  height: auto;
}
