$sideBgColor = #252526;
$borderColor = #4676d0;
#app {

  height: 100%;

  .common-layout {
    height: 100%;

    // left side

    .el-aside {
      //background-color: $sideBgColor;
      padding 10px
      width var(--el-aside-width, 320px)

      .chat-list {
        display: flex
        flex-flow: column
        //background-color: $sideBgColor
        border-radius 10px
        padding 10px 0

        .search-box {
          flex-wrap: wrap
          padding: 10px 0;

          .search-input {
            --el-input-bg-color: #363535
            --el-input-border-color: #464545
            --el-input-focus-border-color: #47fff1
            --el-input-hover-border-color: #2DA39A
            box-shadow: none
          }
        }

        // 隐藏滚动条

        ::-webkit-scrollbar {
          width: 0;
          height: 0;
          background-color: transparent;
        }

        .content {
          width: 100%
          overflow-y: scroll

          .chat-list-item {
            display: flex
            width: 100%
            justify-content: flex-start
            padding: 8px 12px
            //border-bottom: 1px solid #3c3c3c
            cursor: pointer
            border: 1px solid #3c3c3c
            margin-bottom 6px
            border-radius 5px

            &:hover {
              background-color #343540
            }

            .avatar {
              width: 32px;
              height: 32px;
              border-radius: 50%;
            }

            .chat-title-input {
              font-size: 14px;
              margin-top: 4px;
              margin-left: 10px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 190px;
            }

            .chat-title {
              color: #c1c1c1
              padding: 5px 10px;
              max-width 220px;
              font-size 14px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }


            .chat-opt {
              position: absolute;
              right: 2px;
              top: 16px;
              color #ffffff

              .el-dropdown-link {
                color #ffffff
              }

              .el-icon {
                margin-right 8px;
              }
            }
          }

          .chat-list-item.active {
            background-color: #343540;
            border-color #21aa93
          }
        }
      }


      .tool-box {
        display: flex;
        justify-content: center;
        padding-top 12px
        border-top 1px solid #3c3c3c;

        .iconfont {
          margin-right 5px
        }
      }
    }

    .el-main {
      overflow: hidden;
      --el-main-padding: 0;
      margin: 0;

      .chat-box {
        min-width: 0;
        flex: 1;
        background-color: var(--el-bg-color)
        color var(--el-text-color-primary)

        #container {
          overflow: hidden;
          width: 100%;

          ::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
          }

          .chat-box {
            overflow-y: scroll;
            //border-bottom: 1px solid #4f4f4f

            // 变量定义
            --content-font-size: 16px;
            --content-color: #c1c1c1;

            font-family: 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
            padding: 0 0 50px 0;

            .chat-line {
              font-size: 14px;
              display: flex;
              align-items: flex-start;

            }
          }

          .input-box {
            background-color: #ffffff
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
            padding 0 15px;

            .tool-item {
              margin-right 15px
              border-radius: 6px;
              color: #19c37d;
              display flex
              justify-content center
              justify-items center
              padding 6px
              cursor pointer
              background #F2F2F2

              &:hover {
                background #D5FAD3
              }

              .iconfont {
                font-size: 24px;
              }
            }

            .input-container {
              width 100%
              margin: 0;
              border: none;
              padding: 10px 0;
              display flex
              justify-content center
              position relative

              .el-textarea {
                .el-textarea__inner::-webkit-scrollbar {
                  width: 0;
                  height: 0;
                }
              }

              .select-file {
                position absolute;
                right 48px;
                top 20px;
              }

              .send-btn {
                position absolute;
                right 12px;
                top 20px;

                .el-button {
                  padding 8px 5px;
                  border-radius 6px;
                  font-size 20px;
                }
              }

            }
          }
        }

        #container::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }
    }
  }

  .el-message-box {
    width: 90%;
    max-width: 420px;
  }

  .el-message {
    min-width: 100px;
    max-width: 600px;
  }
}

.el-select-dropdown__wrap {
  .el-select-dropdown__item {
    .role-option {
      display flex
      flex-flow row
      margin-top 8px;

      .el-image {
        width 20px
        height 20px
        border-radius 50%
      }

      span {
        margin-left 5px;
        height 20px;
        line-height 20px;
      }
    }
  }
}

.account {
  display flex
  background-color #90FFC2
  color #000000
  width 100%
  border-radius 10px
  padding 10px

  .vip-logo {
    .el-image {
      width 40px
      height 40px
      border-radius 100%
      background-color #ffffff
    }
  }

  .vip-info {
    padding: 0 10px 0 10px

    h4, p {
      margin 0
    }

    h4 {
      font-weight bold
      font-size 16px;
    }

    p {
      color #333333
    }
  }

  .pay-btn {
    width 100%
    display flex
    justify-content right
    align-items center

  }
}

.el-overlay-dialog {
  .el-dialog {
    .el-dialog__body {
      .notice {
        //padding 0 20px 0 20px
        line-height 1.8
        font-size 16px
      }
    }
  }
}

.dialog-service {
  text-align center

  .el-image {
    width 360px;
  }
}