.page-apps {
  background-color: #282c34;
  height 100%

  .inner {
    display flex
    color #ffffff
    padding 15px;
    overflow-y visible
    overflow-x hidden

    .list-box {
      .item {
        display flex
        flex-flow row
        border 1px solid #3c3c3c
        padding 10px

        .image {
          width 80px
          height 80px
          min-width 80px
          border-radius 5px
          overflow hidden
        }

        .inner {
          display flex
          flex-flow column
          padding 0 0 0 10px
          width 100%

          .info {
            text-align left

            .info-title {
              color var(--el-text-color)
              font-size 1.25rem
              line-height 1.75rem
              letter-spacing: .025em;
              font-weight: 600;
              word-break: break-all;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }

            .info-text {
              padding 8px 0
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              word-break: break-all;
              height 34px
              font-size: .875rem;
              color #999999
            }
          }

          .btn {
            margin-top 10px
            display flex
            justify-content right

            .el-button {
              margin-left 10px

              .el-icon {
                margin-right 5px
              }
            }
          }
        }
      }

    }
  }

}