$sideBgColor = #252526;
$borderColor = #4676d0;
#app {

  height: 100%;

  .common-layout {
    height: 100%;

    // left side

    .el-aside {
      background-color: $sideBgColor;

      .title-box {
        padding: 6px 10px;
        display: flex;
        color: #ffffff;
        font-size: 20px;

        span {
          padding-top: 5px;
          padding-left: 10px;
        }
      }

      .chat-list {
        display: flex
        flex-flow: column
        background-color: #28292A
        border-top: 1px solid #2F3032
        border-right: 1px solid #2F3032

        .search-box {
          flex-wrap: wrap
          padding: 10px 15px;
          //background-color #343540

          .el-input__wrapper {
            background-color: #363535;
            box-shadow: none
          }
        }

        // 隐藏滚动条

        ::-webkit-scrollbar {
          width: 0;
          height: 0;
          background-color: transparent;
        }

        .content {
          //display flex
          //flex-wrap: wrap;
          //flex-direction column
          width: 100%
          overflow-y: scroll

          .chat-list-item {
            display: flex
            width: 100%
            justify-content: flex-start
            padding: 8px 12px
            //border-bottom: 1px solid #3c3c3c
            cursor: pointer

            &:hover {
              background-color #343540
            }

            .avatar {
              width: 28px;
              height: 28px;
              border-radius: 50%;
            }

            .chat-title-input {
              font-size: 14px;
              margin-top: 4px;
              margin-left: 10px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 190px;
            }

            .chat-title {
              color: #c1c1c1
              padding: 5px 10px;
              max-width 220px;
              font-size 14px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .btn {
              display none
              position: absolute;
              right: 2px;
              top: 16px;
              color #ffffff

              .el-icon {
                margin-right 8px;
              }
            }
          }

          .chat-list-item.active {
            background-color: #343540;

            .btn {
              display inline
            }
          }
        }
      }


      .tool-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding 0 20px 10px 20px;
        border-top 1px solid #3c3c3c;

        .user-info {
          width 100%
          padding-top 10px;

          .el-dropdown-link {
            width 100%;
            cursor: pointer
            display flex

            .el-image {
              width: 20px;
              height: 20px;
              border-radius: 5px;
            }

            .username {
              display flex
              line-height 22px;
              width 230px;
              padding-left 10px;

            }

            .el-icon {
              color: #cccccc;
              line-height 24px;
            }
          }

        }
      }
    }

    .el-main {
      overflow: hidden;
      --el-main-padding: 0;
      margin: 0;

      .chat-head {
        width: 100%;
        height: 50px;
        background-color: #28292A

        .chat-config {
          display flex
          flex-direction row
          align-items: center;
          justify-content center;
          padding-top 10px;

          .role-select-label {
            color #ffffff
          }

          .el-select {
            //max-width 150px;
            margin-right 10px;
          }

          .role-select {
            max-width 130px;
          }

          .el-button {
            .el-icon {
              margin-right 5px;
            }
          }
        }

        .iconfont {
          margin-right 5px;
        }
      }

      .right-box {
        min-width: 0;
        flex: 1;
        background-color: #ffffff
        border-left: 1px solid #4f4f4f

        #container {
          overflow: hidden;
          width: 100%;

          ::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
          }

          .chat-box {
            overflow-y: scroll;
            //border-bottom: 1px solid #4f4f4f

            // 变量定义
            --content-font-size: 16px;
            --content-color: #c1c1c1;

            font-family: 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
            padding: 0 0 50px 0;

            .chat-line {
              font-size: 14px;
              display: flex;
              align-items: flex-start;

            }
          }

          .re-generate {
            position: relative;
            display: flex;
            justify-content: center;

            .btn-box {
              position: absolute
              bottom: 10px;

              .el-button {
                .el-icon {
                  margin-right 5px;
                }
              }

            }
          }

          .input-box {
            background-color: #ffffff
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
            padding 0 15px;

            .input-container {
              width 100%
              margin: 0;
              border: none;
              padding: 10px 0;
              display flex
              justify-content center
              position relative

              .el-textarea {

                .el-textarea__inner::-webkit-scrollbar {
                  width: 0;
                  height: 0;
                }
              }

              .send-btn {
                position absolute;
                right 12px;
                top 20px;

                .el-button {
                  padding 8px 5px;
                  border-radius 6px;
                  background: rgb(25, 195, 125)
                  color #ffffff;
                  font-size 20px;
                }
              }

            }
          }
        }

        #container::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }
    }
  }

  .el-message-box {
    width: 90%;
    max-width: 420px;
  }

  .el-message {
    min-width: 100px;
    max-width: 600px;
  }
}

.el-select-dropdown__wrap {
  .el-select-dropdown__item {
    .role-option {
      display flex
      flex-flow row
      margin-top 8px;

      .el-image {
        width 20px
        height 20px
        border-radius 50%
      }

      span {
        margin-left 5px;
        height 20px;
        line-height 20px;
      }
    }
  }
}

.account {
  display flex
  background-color #90FFC2
  color #000000
  width 100%
  border-radius 10px
  padding 10px

  .vip-logo {
    .el-image {
      width 40px
      height 40px
      border-radius 100%
      background-color #ffffff
    }
  }

  .vip-info {
    padding: 0 10px 0 10px

    h4, p {
      margin 0
    }

    h4 {
      font-weight bold
      font-size 16px;
    }

    p {
      color #333333
    }
  }

  .pay-btn {
    width 100%
    display flex
    justify-content right
    align-items center

  }
}

.el-overlay-dialog {
  .el-dialog {
    .el-dialog__body {
      .notice {
        padding 0 20px 0 20px
        line-height 1.8

        .el-text {
          font-size 16px
        }
      }
    }
  }
}

.dialog-service {
  text-align center

  .el-image {
    width 360px;
  }
}