.page-apps {
  background-color: #282c34;
  height 100vh

  .title {
    text-align center
    background-color #25272d
    font-size 24px
    color #ffffff
    padding 10px
    border-bottom 1px solid #3c3c3c
  }

  .inner {
    display flex
    color #ffffff
    padding 20px;

    .left-menu {
      width 160px
    }

  }

}