:root{
  --sm-txt:rgba(163, 174, 208, 1);
  --text-secondary: #8a939d;
  --el-color-primary: rgb(107, 80, 225);
  --theme-textcolor-normal:#b0a0f8;
  --el-border-radius-base: 8px;
  --el-color-primary-light-5:rgb(107, 85, 255);
  --el-color-primary-light-3:rgb(78, 51, 254);
  --theme-btn-color:rgba(117, 81, 255, 1)
  --common-text-color:#6e4ef9;
  --el-component-size: 36px;
--el-color-primary-dark-2:rgb(169 152 247);
--el-button-active-border-color:rgb(169 152 247);
--el-color-success-light-9:#EAFFFC;
--el-color-success-light-8:#A7F0D9;
  --el-message-text-color:#0ECD8B;
  --el-color-success:#0ECD8B;

  --text-fff:#fff
  --theme-border-primary: rgba(86, 86, 95, .322); //主题边框颜色
  --theme-border-hover: rgb(107, 85, 255);//主题边框hover颜色
  --text--hover:rgba(215, 211, 240, 0.581) //主题色hover色系
 --el-input-focus-border-color: #b0a0f8;
 --little-btn-bg:#e9d3f6;
 --gray-btn-bg:#ededf591;
  --a-link-color: #3561ff
  --shadow-color:rgba(223,71,255,0.6)
  --sm-btn-bg:#6052ed;
--theme-text-tertiary: #595959;
--theme-btn-fill-tertiary: #f0ebff;
--theme-text-btn-tertiary: #6841ea;


// #e7e7e8
}
.el-dialog{
    --el-border-radius-base: 20px;
}
.login-box{
  --el-component-size: 48px;
  
}
.btn-go{
  background:  var(--btnColor);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  &:hover{
    color: #fff;
  }
}
.btn-normal{
  background:  var(--theme-btn-color);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  &:hover{
    color: #fff;
  }
}
.flex{
  display: flex;
  align-items: center;
  }
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-color-primary{
  color: var(--el-color-primary);
}
.text-color-primary{
  color:var(--text-color-primary)
}
.w100{
  width: 100%;
}
.el-input__wrapper{
  background: var( --card-bg)
}
.el-dialog__title{
  font-weight: bold;
  line-height: 28px;
}
.el-button--primary{
  border-radius: 8px;
}
/* 设置滚动条的宽度 */
::-webkit-scrollbar {
  width: 12px; /* 垂直滚动条宽度 */
  height: 12px; /* 水平滚动条高度 */
}

/* 滚动条的轨道背景颜色 */

::-webkit-scrollbar-track {
  background: #f1f1f1 !important; /* 滚动条轨道颜色 */
  border-radius: 6px; /* 可选：轨道圆角 */
}

/* 滚动条滑块的颜色 */
::-webkit-scrollbar-thumb {
  background: #888 !important; /* 滑块颜色 */
  border-radius: 6px; /* 可选：滑块圆角 */
}

/* 鼠标悬停在滑块上的颜色 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时的滑块颜色 */
}
//.el-message-box
.el-message-box{
  --el-messagebox-border-radius:18px
}
.el-message-box__container{
  border-top: 1px solid #dbd3f4;
  padding-top: 7px;
  .el-message-box__message{
    --text-color:var(--theme-text-color-primary)
    font-size: 16px
  }
}
.sm-btn-theme{
      background-color: var(--theme-btn-fill-tertiary) !important;
    color: var(--theme-text-btn-tertiary) !important;
    border: none;
  }
  
  .el-tag, .el-tag.el-tag--primary{
  --el-tag-bg-color:#f0ebff
  }