.custom-scroll {
  /* 修改滚动条的颜色 */

  ::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
  }

  /* 修改滚动条轨道的背景颜色 */

  ::-webkit-scrollbar-track {
    background-color: #282C34;
  }

  /* 修改滚动条的滑块颜色 */

  ::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius 8px
  }

  /* 修改滚动条的滑块的悬停颜色 */

  ::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
  }
}