@font-face {
  font-family: "OPlusSans3-Regular";
  src: url("../fonts/OPlusSans3-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OPlusSans3-Medium";
  src: url("../fonts/OPlusSans3-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
$font-regular = "OPlusSans3-Regular", "PingFangSC-Regular", "Roboto", "sans-serif";
$font-medium = "OPlusSans3-Medium", "PingFangSC-Medium", "Roboto", "sans-serif";

.font-regular {
  font-family: $font-regular;
  font-weight: normal;
}

.font-medium {
  font-family: $font-medium;
  font-weight: 500;
}