.home {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-flow: column;
}
.home .header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  background-color: #1e1f22;
  padding-right: 20px;
}
.home .header .banner {
  display: flex;
}
.home .header .banner .logo {
  display: flex;
  padding: 5px;
  cursor: pointer;
}
.home .header .banner .logo .el-image {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
}
.home .header .banner .title {
  display: flex;
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
}
.home .header .navbar {
  display: flex;
  flex-flow: row;
}
.home .header .navbar .link-button {
  margin-right: 15px;
  color: #e1e1e1;
  padding: 0 10px;
}
.home .header .navbar .link-button:hover {
  background-color: #414141;
}
.home .header .navbar .link-button .iconfont {
  font-size: 24px;
}
.home .header .navbar .user-info {
  width: 100%;
  padding: 5px 0;
}
.home .header .navbar .user-info .el-dropdown-link {
  width: 100%;
  cursor: pointer;
  display: flex;
}
.home .header .navbar .user-info .el-dropdown-link .el-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.home .header .navbar .user-info .el-dropdown-link .el-icon {
  color: #ccc;
  line-height: 24px;
}
.home .main {
  width: 100%;
  display: flex;
  flex-flow: row;
}
.home .main .navigator {
  display: flex;
  flex-flow: column;
  width: 60px;
  padding: 10px 1px;
  border-right: 1px solid #3c3c3c;
  background-color: #1e1f22;
}
.home .main .navigator .nav-items {
  margin-top: 10px;
  padding: 0 5px;
}
.home .main .navigator .nav-items li {
  margin-bottom: 15px;
  display: flex;
  flex-flow: column;
}
.home .main .navigator .nav-items li a {
  color: #dadbdc;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #414348;
}
.home .main .navigator .nav-items li a .el-image {
  border-radius: 10px;
}
.home .main .navigator .nav-items li a .iconfont {
  font-size: 20px;
}
.home .main .navigator .nav-items li a:hover,
.home .main .navigator .nav-items li a.active {
  color: #47fff1;
  background-color: #0f7a71;
}
.home .main .navigator .nav-items li .title {
  font-size: 12px;
  padding-top: 6px;
  color: #e5e7eb;
  text-align: center;
  white-space: nowrap; /* 防止文本换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: unset; /* 使用省略号表示溢出内容 */
}
.home .main .navigator .nav-items li .active {
  color: #47fff1;
}
.home .main .content {
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  background-color: #282c34;
}
.el-popper .more-menus li {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0;
}
.el-popper .more-menus li .el-image {
  position: relative;
  top: 5px;
  right: 5px;
}
.el-popper .more-menus li:hover {
  background-color: #f1f1f1;
}
.el-popper .more-menus li.active {
  background-color: #f1f1f1;
}
.el-popper .user-info-menu li a {
  width: 100%;
  justify-content: left;
}
.el-popper .user-info-menu li a:hover {
  text-decoration: none !important;
  color: var(--el-primary-text-color);
}
