.page-mj {
  background-color: #282c34;
}
.page-mj .inner {
  display: flex;
}
.page-mj .inner .mj-box {
  margin: 10px;
  background-color: #262626;
  border: 1px solid #454545;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}
.page-mj .inner .mj-box h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #47fff1;
}
.page-mj .inner .mj-box ::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
.page-mj .inner .mj-box .mj-params {
  margin-top: 10px;
  overflow: auto;
}
.page-mj .inner .mj-box .mj-params .param-line {
  padding: 0 10px;
}
.page-mj .inner .mj-box .mj-params .param-line .el-icon {
  position: relative;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content {
  background-color: #383838;
  border-radius: 5px;
  padding: 8px 14px;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content:hover {
  background-color: #585858;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content .icon {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content .shape {
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content .shape.size9-16 {
  width: 9px;
  height: 16px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content .shape.size16-9 {
  height: 9px;
  width: 16px;
  position: relative;
  margin: 4px 0 7px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content .shape.size3-4 {
  width: 12px;
  height: 16px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content .shape.size4-3 {
  height: 12px;
  width: 16px;
  position: relative;
  margin: 4px 0 4px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content .shape.size2-3 {
  width: 11px;
  height: 16px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content .shape.size3-2 {
  height: 11px;
  width: 16px;
  position: relative;
  margin: 4px 0 5px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content .shape.size1-2 {
  width: 8px;
  height: 16px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content .shape.size2-1 {
  height: 8px;
  width: 16px;
  position: relative;
  margin: 4px 0 8px;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content.active {
  color: #47fff1;
  background-color: #585858;
}
.page-mj .inner .mj-box .mj-params .param-line .grid-content.active .shape {
  border: 1px solid #47fff1;
}
.page-mj .inner .mj-box .mj-params .param-line .model {
  background-color: #383838;
  border: 1px solid #454545;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  cursor: pointer;
}
.page-mj .inner .mj-box .mj-params .param-line .model:hover {
  background-color: #585858;
}
.page-mj .inner .mj-box .mj-params .param-line .model .el-image {
  height: 60px;
  width: 100%;
}
.page-mj .inner .mj-box .mj-params .param-line .model .text {
  margin-top: 6px;
}
.page-mj .inner .mj-box .mj-params .param-line .model.active {
  color: #47fff1;
  background-color: #585858;
  border: 1px solid #47fff1;
}
.page-mj .inner .mj-box .mj-params .param-line .form-item-inner {
  display: flex;
  align-items: center;
}
.page-mj .inner .mj-box .mj-params .param-line .form-item-inner .el-select {
  --el-select-input-focus-border-color: #47fff1;
  --el-input-focus-border-color: #47fff1;
}
.page-mj .inner .mj-box .mj-params .param-line .form-item-inner .el-input__wrapper {
  background: #383838;
}
.page-mj .inner .mj-box .mj-params .param-line .form-item-inner .el-input__inner {
  color: #fff;
}
.page-mj .inner .mj-box .mj-params .param-line .form-item-inner .el-icon {
  margin-left: 10px;
}
.page-mj .inner .mj-box .mj-params .param-line .img-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: var(--el-transition-duration-fast);
}
.page-mj .inner .mj-box .mj-params .param-line .img-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}
.page-mj .inner .mj-box .mj-params .param-line .img-uploader .el-upload .el-icon.uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100%;
  height: 120px;
  text-align: center;
}
.page-mj .inner .mj-box .mj-params .param-line.pt {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.page-mj .inner .el-form .el-form-item__label {
  color: #fff;
}
.page-mj .inner .el-form .el-input,
.page-mj .inner .el-form .el-slider {
  width: 180px;
}
.page-mj .inner .task-list-box {
  width: 100%;
  padding: 10px;
  color: #fff;
  overflow-x: hidden;
}
.page-mj .inner .task-list-box .task-list-inner .el-tabs {
  --el-tabs-header-height: 55px;
}
.page-mj .inner .task-list-box .task-list-inner .el-tabs__item {
  color: #fff;
  font-size: 18px;
}
.page-mj .inner .task-list-box .task-list-inner .title-tabs .el-tabs__item.is-active {
  color: #47fff1;
  font-size: 18px;
}
.page-mj .inner .task-list-box .task-list-inner .title-tabs .el-tabs__active-bar {
  background-color: #47fff1;
}
.page-mj .inner .task-list-box .task-list-inner .title-tabs .el-tabs__content {
  padding: 10px 0;
}
.page-mj .inner .task-list-box .task-list-inner .el-textarea {
  --el-input-focus-border-color: #47fff1;
}
.page-mj .inner .task-list-box .task-list-inner .el-textarea__inner {
  background: transparent;
  color: #fff;
}
.page-mj .inner .task-list-box .task-list-inner .el-input__wrapper {
  background: transparent;
  padding: 5px;
}
.page-mj .inner .task-list-box .task-list-inner .text {
  margin-bottom: 10px;
  color: #6b778c;
  font-size: 15px;
}
.page-mj .inner .task-list-box .task-list-inner .param-line.pt {
  padding-top: 5px;
  padding-bottom: 5px;
}
.page-mj .inner .task-list-box .task-list-inner .form-item-inner {
  display: flex;
  align-items: center;
}
.page-mj .inner .task-list-box .task-list-inner .form-item-inner .el-icon {
  margin-left: 10px;
}
.page-mj .inner .task-list-box .task-list-inner .el-form-item__label {
  color: #fff;
}
.page-mj .inner .task-list-box .task-list-inner .img-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 300px;
  transition: var(--el-transition-duration-fast);
  margin-bottom: 20px;
}
.page-mj .inner .task-list-box .task-list-inner .img-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}
.page-mj .inner .task-list-box .task-list-inner .img-uploader .el-upload .el-icon.uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100%;
  height: 120px;
  text-align: center;
}
.page-mj .inner .task-list-box .task-list-inner .submit-btn {
  display: flex;
  margin: 20px 0;
}
.page-mj .inner .task-list-box .task-list-inner .submit-btn .el-button {
  width: 200px;
}
.page-mj .inner .task-list-box .task-list-inner .submit-btn .text-info {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.page-mj .inner .task-list-box .running-job-list .job-item {
  width: 100%;
  padding: 2px;
  background-color: #555;
}
.page-mj .inner .task-list-box .running-job-list .job-item .job-item-inner {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page-mj .inner .task-list-box .running-job-list .job-item .job-item-inner .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-mj .inner .task-list-box .running-job-list .job-item .job-item-inner .progress span {
  font-size: 20px;
  color: #fff;
}
.page-mj .inner .task-list-box .finish-job-list .job-item {
  width: 100%;
  height: 100%;
  border: 1px solid #666;
  padding: 6px;
  overflow: hidden;
  border-radius: 6px;
  transition: all 0.3s ease; /* 添加过渡效果 */
  position: relative;
}
.page-mj .inner .task-list-box .finish-job-list .job-item .opt .opt-line {
  margin: 6px 0;
}
.page-mj .inner .task-list-box .finish-job-list .job-item .opt .opt-line ul {
  display: flex;
  flex-flow: row;
}
.page-mj .inner .task-list-box .finish-job-list .job-item .opt .opt-line ul li {
  margin-right: 6px;
}
.page-mj .inner .task-list-box .finish-job-list .job-item .opt .opt-line ul li a {
  padding: 3px 0;
  width: 40px;
  text-align: center;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  background-color: #4e5058;
  color: #fff;
}
.page-mj .inner .task-list-box .finish-job-list .job-item .opt .opt-line ul li a:hover {
  background-color: #6d6f78;
}
.page-mj .inner .task-list-box .finish-job-list .job-item .opt .opt-line ul .show-prompt {
  font-size: 20px;
  cursor: pointer;
}
.page-mj .inner .task-list-box .finish-job-list .job-item .remove {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.page-mj .inner .task-list-box .finish-job-list .job-item:hover .remove {
  display: block;
}
.page-mj .inner .task-list-box .finish-job-list .animate:hover {
  box-shadow: 0 0 10px rgba(71,255,241,0.6); /* 添加阴影效果 */
  transform: translateY(-10px); /* 向上移动10像素 */
}
.page-mj .inner .task-list-box .el-image {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.page-mj .inner .task-list-box .el-image img {
  height: 240px;
}
.page-mj .inner .task-list-box .el-image .el-image-viewer__wrapper img {
  width: auto;
  height: auto;
}
.page-mj .inner .task-list-box .el-image .image-slot {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
  color: #fff;
  height: 240px;
}
.page-mj .inner .task-list-box .el-image .image-slot .iconfont {
  font-size: 50px;
  margin-bottom: 10px;
}
.page-mj .inner .task-list-box .el-image.upscale {
  max-height: 310px;
}
.page-mj .inner .task-list-box .el-image.upscale img {
  height: 310px;
}
.page-mj .inner .task-list-box .el-image.upscale .el-image-viewer__wrapper img {
  width: auto;
  height: auto;
}
.mj-list-item-prompt .el-icon {
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}
