.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #313237;
  background-image: url("~@/assets/img/login-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}
.main .contain {
  position: fixed;
  left: 50%;
  top: 40%;
  width: 90%;
  max-width: 400px;
  transform: translate(-50%, -50%);
  padding: 20px 10px;
  color: #fff;
  border-radius: 10px;
}
.main .contain .logo {
  text-align: center;
}
.main .contain .logo .el-image {
  width: 120px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
}
.main .contain .header {
  width: 100%;
  margin-bottom: 24px;
  font-size: 24px;
  color: $white_v1;
  letter-space: 2px;
  text-align: center;
  padding-top: 10px;
}
.main .contain .content {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.main .contain .content .block {
  margin-bottom: 16px;
}
.main .contain .content .block .el-input__inner {
  border: 1px solid $gray-v6 !important;
}
.main .contain .content .block .el-input__inner .el-icon-user,
.main .contain .content .block .el-input__inner .el-icon-lock {
  font-size: 20px;
}
.main .contain .content .btn-row {
  padding-top: 10px;
}
.main .contain .content .btn-row .login-btn {
  width: 100%;
  font-size: 16px;
  letter-spacing: 2px;
}
.main .contain .content .text-line {
  justify-content: center;
  padding-top: 10px;
  font-size: 14px;
}
.main .contain .content .opt {
  padding: 15px;
}
.main .contain .content .opt .el-col {
  text-align: center;
}
.main .contain .content .divider {
  border-top: 2px solid #c1c1c1;
}
.main .contain .content .clogin {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.main .contain .content .clogin .iconfont {
  font-size: 20px;
  background: #e9f1f6;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.main .contain .content .clogin .iconfont.icon-wechat {
  color: #0bc15f;
}
.main .footer {
  color: #fff;
}
.main .footer .container {
  padding: 20px;
}
