.member {
  background-color: #282c34;
  height: 100vh;
}
.member .el-dialog .el-dialog__body {
  padding-top: 10px;
}
.member .el-dialog .el-dialog__body .pay-container .amount {
  text-align: center;
}
.member .el-dialog .el-dialog__body .pay-container .amount span {
  color: #f56c6c;
}
.member .el-dialog .el-dialog__body .pay-container .count-down {
  display: flex;
  justify-content: center;
}
.member .el-dialog .el-dialog__body .pay-container .pay-qrcode {
  display: flex;
  justify-content: center;
}
.member .el-dialog .el-dialog__body .pay-container .pay-qrcode .el-image {
  width: 360px;
  height: 360px;
}
.member .el-dialog .el-dialog__body .pay-container .tip {
  display: flex;
  justify-content: center;
}
.member .el-dialog .el-dialog__body .pay-container .tip .el-icon {
  font-size: 24px;
}
.member .el-dialog .el-dialog__body .pay-container .tip .text {
  font-size: 16px;
  margin-left: 10px;
}
.member .el-dialog .el-dialog__body .pay-container .tip.success {
  color: #07c160;
}
.member .title {
  text-align: center;
  background-color: #25272d;
  font-size: 24px;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #3c3c3c;
}
.member .inner {
  color: #fff;
  padding: 15px 0 15px 15px;
  overflow-x: hidden;
  overflow-y: visible;
}
.member .inner .user-profile {
  padding: 10px 20px 20px 20px;
  background-color: #393f4a;
  color: #fff;
  border-radius: 10px;
}
.member .inner .user-profile .el-form-item__label {
  color: #fff;
  justify-content: start;
}
.member .inner .user-profile .user-opt .el-col {
  padding: 10px;
}
.member .inner .user-profile .user-opt .el-col .el-button {
  width: 100%;
}
.member .inner .product-box .info {
  padding: 10px 20px 20px 0;
}
.member .inner .product-box .info .el-alert__description {
  font-size: 14px !important;
  margin: 0;
}
.member .inner .product-box .list-box .product-item {
  border: 1px solid #666;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease; /* 添加过渡效果 */
}
.member .inner .product-box .list-box .product-item .image-container {
  display: flex;
  justify-content: center;
}
.member .inner .product-box .list-box .product-item .image-container .el-image {
  padding: 6px;
}
.member .inner .product-box .list-box .product-item .image-container .el-image .el-image__inner {
  border-radius: 10px;
}
.member .inner .product-box .list-box .product-item .product-title {
  display: flex;
  padding: 10px;
}
.member .inner .product-box .list-box .product-item .product-title .name {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #47fff1;
}
.member .inner .product-box .list-box .product-item .product-info {
  padding: 10px 20px;
  font-size: 14px;
  color: #999;
}
.member .inner .product-box .list-box .product-item .product-info .info-line {
  display: flex;
  width: 100%;
  padding: 5px 0;
}
.member .inner .product-box .list-box .product-item .product-info .info-line .label {
  display: flex;
  width: 100%;
}
.member .inner .product-box .list-box .product-item .product-info .info-line .price,
.member .inner .product-box .list-box .product-item .product-info .info-line .expire,
.member .inner .product-box .list-box .product-item .product-info .info-line calls {
  display: flex;
  width: 90px;
  justify-content: right;
}
.member .inner .product-box .list-box .product-item .product-info .info-line .price {
  color: #f56c6c;
}
.member .inner .product-box .list-box .product-item .product-info .info-line .expire {
  color: #409eff;
}
.member .inner .product-box .list-box .product-item .product-info .info-line .power {
  color: #f2cb51;
}
.member .inner .product-box .list-box .product-item .product-info .pay-way {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.member .inner .product-box .list-box .product-item .product-info .pay-way .iconfont {
  margin-right: 5px;
}
.member .inner .product-box .list-box .product-item:hover {
  box-shadow: 0 0 10px rgba(71,255,241,0.6); /* 添加阴影效果 */
  transform: translateY(-10px); /* 向上移动10像素 */
}
.member .inner .product-box .headline {
  padding: 0 20px 20px 0;
}
.member .inner .product-box .user-order {
  padding: 0 20px 20px 0;
}
