

@import 'font.styl'
:root[data-theme="light"] {
  --text-fb:#000;
  --text-color: #5b62ce; // 主要的文本颜色
  --normal-color: rgba(43, 54, 116, 1); // 普通颜色
  p, h1, h2, h3, h4, h5, h6, article {
    font-family: $font-regular;
  }
  html,
  body,
  #app,
  .wrapper {
    font-family: $font-regular;
  }

  --btnColor: linear-gradient(88deg, #af61f0 1.44%, #5b62ce);
  --border-active:rgba(134, 140, 255, 1);
  --code-btnColor: linear-gradient(88deg, #af61f0 1.44%, #5b62ce);
  --card-bg:#fff;
  --chat-bg:#fff;
  --theme-bg:linear-gradient(88deg, #fff3f3 1.44%, #e7e8ff);
  --theme-bg-all:#f5f7fd;
  --sign-bg: rgba(244, 247, 254, 1);
  --text-theme-color: rgba(43, 54, 116, 1)
  --text-color-primary: rgba(67, 24, 255, 1);
  --line-box:rgba(79, 89, 102, 0.122);
  --theme-text-color-primary: #000;
  --theme-text-primary: #000;
  --theme-text-color-secondary: #666;
  --chat-content-bg:#f5f7fc;
  --chat-list-bg: #0302020a;
  --chat-content-bg-list:#fff;
  --chat-wel-bg:rgba(247, 247, 248, 1);
  --hover-deep-color:#fff;
  --el-bg-color-overlay: #fff;
  --el-bg-color:#fff;
  --el-fill-color-blank: #fff;
  --el-pagination-button-bg-color: rgba(86,86,95,0.2);

}


