

@import 'font.styl'
:root[data-theme="light"] {
  // rgba(43, 54, 116, 1)
  --text-color: #5b62ce; // 主要的文本颜色
  --normal-color: rgba(43, 54, 116, 1); // 普通颜色
  p, h1, h2, h3, h4, h5, h6, article {
    color: var(--text-color) !important;
    font-family: $font-regular;
  }
  html,
  body,
  #app,
  .wrapper {
      background: linear-gradient(88deg, #fff3f3 1.44%, #e7e8ff);
    //  background:  linear-gradient(180deg, #fff, #fff4fa 40%, #fbd9fd 55%, #e2d5ff 70%);
    font-family: $font-regular;
  }

  --btnColor: linear-gradient(88deg, #af61f0 1.44%, #5b62ce);
  --card-bg:#fff;

}


