
@import 'font.styl'
:root[data-theme="dark"]{
  --text-fb:#fff;
  --text-color: rgba(255, 255, 255, 1) !important; // 主要的文本颜色
  --normal-color: rgba(163, 174, 208, 1); // 普通颜色
      --el-text-color-primary: #fff;
  p, h1, h2, h3, h4, h5, h6, article {
    // color: var(--text-color) !important;
     font-family: $font-regular;

  }
  html,
  body,
  #app,
  .wrapper {
    background: rgb(13, 20, 53) 
    background-color: rgb(13, 20, 53) 
    font-family: $font-regular;
  }
  --btnColor: linear-gradient(88deg, #af61f0 1.44%, #5b62ce);
  --border-active:rgba(255, 255, 255, 0.1);
  // --card-bg: rgba(17, 28, 68, 1);
  --card-bg: #1f243f;
   --card-bg-table: rgba(17, 28, 68, 1);
  --theme-bg:rgb(13, 20, 53);
  --theme-bg-all:rgb(13, 20, 53);
   --sign-bg: rgba(27, 37, 75, 1);
   --text-theme-color: #fff;
  --text-color-primary: #d1c7ff;
  --el-text-color-regular: rgba(163, 174, 208, 1)
  --el-border-color:rgb(79, 80, 85)
  --el-text-color-primary: #fff;//黑白切换
   --el-bg-color-overlay: rgba(17, 28, 68, 1);
   --el-border-color-light: rgba(255, 255, 255, 0.2);
  --line-box:rgba(255, 255, 255, 0.1);
  --chat-bg:#141a36;
  --el-bg-color:#141a36;
  --el-fill-color-blank: rgba(17, 28, 68, 1);
  --el-fill-color-light: rgba(86, 86, 95, .2);
--el-color-primary-light-9:rgba(86, 86, 95, .2);
--chat-wel-bg:#2d2f388a;
  --theme-text-color-secondary: #a3aed0;
  // --el-pagination-button-bg-color: rgba(86,86,95,0.2); 

   //layout 
  .more-menus li.moreTitle,
  .twoTittle .title,
  .setting-menus span.title,
  .setting-menus li .el-icon,
  .setting-menus li .iconfont,
  .layout .tab-box .menu-list-item{
    filter: invert(100%);
  }
  .more-menus span.title{
    color:#000;
  }
  .menu-list .menu-list-item.active .el-icon{
    background: #0080006e;
  }

  --theme-text-color-primary: #fff;
  --theme-text-primary: #f3f3f3;
  --chat-content-bg:rgba(86, 86, 95, .2);
  --chat-content-bg-list:rgba(86, 86, 95, .2);
  
  // --theme-text-tertiary: #e1e1e1;
}