.el-overlay-dialog .el-dialog {
  background-color: #1a1b1e;
}
.el-overlay-dialog .el-dialog .el-dialog__header .el-dialog__title {
  color: #f5f5f5;
}
.el-overlay-dialog .el-dialog .el-dialog__body {
  padding: 0 0 0 15px !important;
  display: flex;
  height: 100%;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row {
  width: 100%;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row .img-container {
  display: flex;
  justify-content: center;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info {
  background-color: #25262b;
  padding: 1rem 1.5rem;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line {
  width: 100%;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line .prompt {
  background-color: #35363b;
  padding: 10px;
  color: #999;
  overflow: auto;
  max-height: 100px;
  min-height: 50px;
  position: relative;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line .prompt .el-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line .wrapper {
  margin-top: 10px;
  display: flex;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line .wrapper label {
  display: flex;
  width: 100px;
  color: #a5a5a5;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .info-line .wrapper .item-value {
  display: flex;
  width: 100%;
  background-color: #35363b;
  padding: 2px 5px;
  border-radius: 5px;
  color: #f5f5f5;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .copy-params {
  padding: 20px 0 10px 0;
}
.el-overlay-dialog .el-dialog .el-dialog__body .el-row .task-info .copy-params .el-button {
  width: 100%;
}
