@font-face {
  font-family: "iconfont"; /* Project id 4125778 */
  src: url('iconfont.woff2?t=1708054962140') format('woff2'),
       url('iconfont.woff?t=1708054962140') format('woff'),
       url('iconfont.ttf?t=1708054962140') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prompt:before {
  content: "\e6ce";
}

.icon-share-bold:before {
  content: "\e626";
}

.icon-cancel-share:before {
  content: "\e682";
}

.icon-xls:before {
  content: "\e678";
}

.icon-file:before {
  content: "\e62f";
}

.icon-doc:before {
  content: "\e6c2";
}

.icon-pdf:before {
  content: "\e6c3";
}

.icon-ppt:before {
  content: "\e642";
}

.icon-txt:before {
  content: "\e644";
}

.icon-sql:before {
  content: "\e65b";
}

.icon-md:before {
  content: "\e63a";
}

.icon-loading:before {
  content: "\e627";
}

.icon-alipay:before {
  content: "\e634";
}

.icon-face:before {
  content: "\e64b";
}

.icon-book:before {
  content: "\e622";
}

.icon-vip-user:before {
  content: "\e605";
}

.icon-vip:before {
  content: "\e688";
}

.icon-cart:before {
  content: "\e603";
}

.icon-image-list:before {
  content: "\e601";
}

.icon-share:before {
  content: "\e63e";
}

.icon-palette:before {
  content: "\e6da";
}

.icon-palette-pen:before {
  content: "\e60c";
}

.icon-image:before {
  content: "\e7de";
}

.icon-order:before {
  content: "\e600";
}

.icon-service:before {
  content: "\e62d";
}

.icon-like:before {
  content: "\e640";
}

.icon-recharge:before {
  content: "\e637";
}

.icon-model:before {
  content: "\e867";
}

.icon-plugin:before {
  content: "\e69d";
}

.icon-quick-start:before {
  content: "\e677";
}

.icon-control:before {
  content: "\e69e";
}

.icon-bug:before {
  content: "\e645";
}

.icon-export:before {
  content: "\e791";
}

.icon-sub-menu:before {
  content: "\e86b";
}

.icon-wechat-pay:before {
  content: "\e639";
}

.icon-donate:before {
  content: "\e7ee";
}

.icon-reward:before {
  content: "\e6c7";
}

.icon-bell:before {
  content: "\e887";
}

.icon-home:before {
  content: "\e6cb";
}

.icon-menu:before {
  content: "\e6a6";
}

.icon-log:before {
  content: "\e61c";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-user-circle:before {
  content: "\e860";
}

.icon-chart:before {
  content: "\e631";
}

.icon-wechat:before {
  content: "\e621";
}

.icon-config:before {
  content: "\e612";
}

.icon-api-key:before {
  content: "\e7d8";
}

.icon-role:before {
  content: "\e60a";
}

.icon-dashboard:before {
  content: "\e602";
}

.icon-password:before {
  content: "\e62a";
}

.icon-send:before {
  content: "\e604";
}

.icon-logout:before {
  content: "\e62e";
}

.icon-github:before {
  content: "\e66f";
}

