@font-face {
  font-family: "iconfont"; /* Project id 4125778 */
  src: url('iconfont.woff2?t=1687341905766') format('woff2'),
       url('iconfont.woff?t=1687341905766') format('woff'),
       url('iconfont.ttf?t=1687341905766') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sub-menu:before {
  content: "\e86b";
}

.icon-wechat-pay:before {
  content: "\e639";
}

.icon-donate:before {
  content: "\e7ee";
}

.icon-reward:before {
  content: "\e6c7";
}

.icon-bell:before {
  content: "\e887";
}

.icon-home:before {
  content: "\e6cb";
}

.icon-menu:before {
  content: "\e6a6";
}

.icon-log:before {
  content: "\e61c";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-user-circle:before {
  content: "\e860";
}

.icon-chart:before {
  content: "\e631";
}

.icon-wechat:before {
  content: "\e621";
}

.icon-config:before {
  content: "\e612";
}

.icon-api-key:before {
  content: "\e7d8";
}

.icon-role:before {
  content: "\e60a";
}

.icon-dashboard:before {
  content: "\e602";
}

.icon-password:before {
  content: "\e62a";
}

.icon-send:before {
  content: "\e604";
}

.icon-logout:before {
  content: "\e62e";
}

.icon-github:before {
  content: "\e66f";
}

